h1 {
  font-family: "Ranchers", serif;
  font-size: 100px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
h2 {
  font-family: "Ranchers", serif;
  text-align: center;
  font-size: 64px;
  margin-top: 0px;
  margin-bottom: 0em;
}

body,
html {
  height: 100%;
}
p {
  font-size: 32px;
  text-align: center;
  font-family: "Ranchers", serif;
}

.text-section {
  background-color: #FFCCFF;
  padding: 10px 35px;
  margin: 35px;
  text-align: center;
}
.button1 {
  background-color: #6600ff;
  style="float: right;"box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-color: white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  margin: 20px 50px;
  border-radius: 32px;
}
.button1:hover {
  background-color: #9900FF;
  color: white;
}
iframe {
  box-shadow: 10px 10px 10px #888888;
  margin-bottom: 40px;
}
.background1,
.background2,
.background3 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c79836;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.background1 {
  background-image: url("https://i.ibb.co/L1074YF/82c53bec0f4dfcc893ba1989b465de58.jpg");
}
.background2 {
  background-image: url("https://i.ibb.co/sy7hp6C/original.jpg");
}
.background3 {
  background-image: url("https://i.ibb.co/B3tSYRS/b984750467f7b4b000f03977cc1d2ca4.jpg");
}
